<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        <h1>ASCII Art Generator</h1>
    </header>
    <main>
        <form action="" method="post">
            {{ form.csrf_token }}
            <label for="image_file"></label>
            <input type="file" name="image_file" id="image_file">
            {{ form.range_width.label }} {{ form.range_width }}
            {{ form.desired_width.label }} {{ form.desired_width }}
        </form>
        <div id="output">

        </div>
    </main>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>